.nav-item a{
    font-size:14px;
    font-weight: 700;
    color:#2d3e50 !important;
}
.nav img{
    margin-left:1px;
}
.nav-item a:hover {
    color:#5e068a !important;
}
.carousel-item img{
    height:400px;
}
.container h3{
    color: #5e068a;
    font-weight: 580;
    font-size:32px;
}
.container span{
    color:#5e068a99;
}
.container p{
    line-height: 28px;
    margin-bottom: 12px;
    font-size: 15px;
    max-width: 565px;
    color:black;  
}
.fbtn{
    padding:10px 27px;
    font-weight:600;
    margin-top: 21px;
    border-radius:50px;
    color:white;
    background-color:#5e068a;
}
.fbtn:hover{
    background-color:white;
    color:#5e068a;
    border:2px solid #5e068a;
}
.container h5{
    color: #5e068a;
    font-weight: 580;
    font-size:16px;
}
.container h2{
    margin-top: 3px;
    color: #5e068a;
    margin-left:350px;
}
.container .card a{
    font-weight:700;
    text-transform: uppercase;
    background-color:#5e068a;
    padding:10px 10px;
    color:#fff;
    text-decoration:none;
}
.container h4{
    margin-left:600px;
    font-size:22px;
    margin-top: 2px;
    color: #5e068a;
}

